<!DOCTYPE html>
<html lang="en">
    <%- include ("./ejs_partials/head.ejs")%>
<body>
    <%- include ("./ejs_partials/nav.ejs")%>

    <h1>Commentfor: <%=comment.game.name%></h1>
    <img src="<%=comment.game.image%>" alt="Image for <%=comment.game.name%> game" />
    <p><%=comment.comment%></p>
    <h3>Checkout this product:<a href="/games/<%=comment.game._id%>"> <%=comment.game.name%></a></h3>
<%- include ("./ejs_partials/footer.ejs")%>
</body>
</html>