<!DOCTYPE html>
<html lang="en" class="bg-light">
<%- include ("./ejs_partials/head.ejs")%>
    <link rel="stylesheet" href="styles/index.css">

    <body class=>
        <main class="main">
            <div class="upcoming text-center bg-image" style="
                background-image: url('https://cdn.focus-home.com/fhi-fastforward-admin/resources/games/aliens-dark-descent/images/22032023_98bf7736059a4a34bed7b055067e2be6.jpeg');
                height: 400px;
                ">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100%">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-white">
                                <h1 class="mb-3">Upcoming</h1>
                                <h4 class="mb-3">
                                    <%=games[games.length-1].name%>
                                </h4>
                                <h6 class="mb-3">
                                    <%=games[games.length-1].release%>
                                </h6>
                                <a class="btn btn-outline-light btn-lg" href="<%=games[games.length-1].trailer%>" target="_blank" role="button">Watch
                                    Trailer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include ("./ejs_partials/nav.ejs")%>
                    
                    <h2 class="fGame mt-5">Featured Games</h2>
                    <section class="lower-half bg-light">
                        <div class="container games-index">
                            <ul class="row one" style="list-style: none">
                            <% for(let i=1; i<games.length; i++) { %>
                                <% const thisGame=games[i] %>
                                    <div class=" col game-box">
                                        <a href="/games/<%=thisGame._id%>"> <img src="<%=thisGame.image%>"
                                                alt="<%=thisGame.name%>"></a>
                                    </div>
                                    <%}%>
                        </ul>
                    </div>
                </section>
                <%if(typeof currentUser !=="undefined" ) {%>
                    <% if(currentUser.id==="6373f943c0d65aafed339b74" ) {%>
                        <section class="add-new ps-5">
                            <form action="/games/new" method="GET">
                                <input class="new-button" type="submit" value="Add New Game" />
                            </form>
                        </section>
                        <%}%>
                            <%}%>
            </main>
            <%- include ("./ejs_partials/footer.ejs")%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</html>