<!DOCTYPE html>
<html lang="en">
    <%- include ("./ejs_partials/head.ejs")%>
<body>
    <main>
        <section class="upcoming">
            <h2> Upcoming </h2>
            <h3> <%=games[0].name%></h3>
            <div class="upcoming-game">
                <a href="/games/<%=games[0]._id%>"><img src="<%= games[0].image%>"></a>
            </div>
            <ul style="list-style: none">
                <li> <%=games[0].release%></li>
                <li> <a href="<%=games[0].trailer%>">Trailer</a></li>
            </ul>
        </section>

        <h2 class = "fGame">Featured Games</h2>
        <section>
        <div class="games-index">
                <ul class= "one" style="list-style: none">
                <% for(let i = 1; i<games.length; i++) { %>
                    <% const thisGame = games[i] %>
                    <div>
                        <a href="/games/<%=thisGame._id%>"> <img src="<%=thisGame.image%>"></a>
                        <li><%=thisGame.name%></li>
                        <li><%=thisGame.rating%></li>
                    </div>
                <%}%>
                </ul>
            </div>
        </section>
        <section class="add-new">
            <form action="/games/new" method="GET">
                <input class="new-button" type="submit" value="Add New Game"/>
            </form>
        </section>
        <%- include ("./ejs_partials/footer.ejs")%>
        <link rel="stylesheet" href="styles/index.css">
    </main>
</body>
</html>