<!DOCTYPE html>
<html lang="en">
    <%- include ("./ejs_partials/head.ejs")%>
<body>
    <%- include ("./ejs_partials/nav.ejs")%>
    <main>
        <h1 class="game-name"><%=game.name%></h1>
        <img src="<%=game.image%>">
        <h3>User Rating: <%let sum = 0%>
            <% for(let i=0; i<comments.length; i++) {%>
            <%let ratings = comments[i].rating%>
            <%sum = sum + ratings%>
        <%}%>
            <%let avgUserRatings = sum/comments.length%>
            <%=avgUserRatings.toFixed(1)%>
    </h3>
        <ul class="game-info"style="list-style: none">
            <li>Genre: <%=game.genre%></li>
            <li>Platforms: <%=game.platform%></li>
            <li>Price: $<%=game.price%></li>
            <li>Release Date:<%=game.release%></li>
            <li><a href ="<%=game.trailer%>"> Watch Trailer </a></li>
            
        </ul>
        <section class="edit-delete">
            <form action="/games/<%=game._id%>/edit" method="GET">
                <input class="edit-button" type="submit" value="Edit Game"/>
            </form>
            <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="Delete Game"/>
            </form>
        </section>
        <section>
            <h2>Create a new comment</h2>
            <form method="POST" action="/comments/:id">
    
                <div>
                    Rating: 
                    <input name="rating" type="number" min="0" max="5"/>
                </div>
                <div>
                    Comment: 
                    <textarea name="comment">
    
                    </textarea>
                <div>
                    <input name="game" type="hidden" value="<%=game._id%>" />
                </div>
                </div>
    
                
                <button type="submit">Add your comment</button>
            </form>
        </section>
        <h2 class="comment-head">All Comments</h2>
        <div class="comment-display">

            <ul>
                <% comments.forEach(comment => { %>
                    <li>User Rating: <%= comment.rating%></li>
                    <li>User Comment: <%=comment.comment%></li> 
                <% }) %> 
            </ul>
        </div>
        

    </main>
    <%- include ("./ejs_partials/footer.ejs")%>
</body>
</html>