<!DOCTYPE html>

<html lang="en">

<%- include ("./ejs_partials/head.ejs")%>

<body>
    <main>
      <h1>Edit Game</h1>
      <form action="/games/<%= game._id%>?_method=PUT" method="POST">
          <div>
              <label> Name:</label>
              <input
              class="input"
              type="text"
              name="name"
              value="<%= game.name %>"
            />
          </div>
          <div>
            <label>Image:</label>
              <input
                class="input"
                type="text"
                name="image"
                value="<%= game.image %>"
              />
          </div>
          <div class="control">
            <label>Release Date:</label>
            <input
              class="input"
              type="text"
              name="release"
              value="<%= game.release %>"
            />
          </div>
          <div>
            <label>Genre:</label>
            <input
              class="input"
              type="text"
              name="genre"
              value="<%= game.genre %>"
            />
          </div>
          <div class="control">
            <label>Price:</label>
            <input
              class="input"
              type="text"
              name="price"
              value="<%= game.price %>"
            />
          </div>
          <div>
            <label>Trailer:</label>
              <input
                class="input"
                type="text"
                name="trailer"
                value="<%= game.trailer %>"
              />
          </div>
          <div class="control">
            <label>Platform:</label>
            <input
              class="input"
              type="text"
              name="platform"
              value="<%= game.platform %> "
            />
          </div>
          <div>
            <input type="submit" value="Edit Game">
          </div>
        </form>
    </main>
  <%- include ("./ejs_partials/footer.ejs")%>
</body>

</html>