<!DOCTYPE html>
<html lang="en">
    <%- include ("./ejs_partials/head.ejs")%>
<body>
    <%- include ("./ejs_partials/nav.ejs")%>
    <main>
        <h1 class="game-name"><%=game.name%></h1>
        <ul class="game-info"style="list-style: none">
            <li><img src="<%=game.image%>"></li>
            <li>User Rating: <%=game.rating%></li>
            <li>Genre: <%=game.genre%></li>
            <li>Platforms: <%=game.platform%></li>
            <li>Price: $<%=game.price%></li>
            <li>Release Date:<%=game.release%></li>
            <li href ="<%=game.trailer%>"> Trailer</li>
            
        </ul>

        <section>
            <h2>Create a new comment</h2>
            <form method="POST" action="/games/<%=game._id%>">
    
                <div>
                    Rating: 
                    <input name="rating" type="number" min="0" max="5"/>
                </div>
                <div>
                    Comment: 
                    <textarea name="comment">
    
                    </textarea>
                <div>
                    <input name="game" type="hidden" value="<%=game._id%>" />
                </div>
                </div>
    
                
                <button type="submit">Add your comment</button>
            </form>
        </section>
        <h2 class="comment-head">All Comments</h2>
        <section>
            <ul>
                <% comment.forEach(comment => { %>
                    <li><%=comment.game.name%> | <%= comment.rating%> | <a href="/comments/<%=comment._id%>">Link</a></li>
                <% }) %> 
            </ul>
        </section>
    </main>
    <%- include ("./ejs_partials/footer.ejs")%>
</body>
</html>