<!DOCTYPE html>
<html lang="en">
    <%- include ("./ejs_partials/head.ejs")%>
<body>
    <%- include ("./ejs_partials/nav.ejs")%>
    <main>
        <section class="upcoming-game">
            <h2 class="upcoming-heading"> Upcoming </h2>
            <h3 class="upcoming-name"> <%=games[0].name%> </h3>
            <div>
                <img src="<%= games[0].image%>">
            </div>
            <ul>
                <li> <%=games[0].release%></li>
                <li> <a href="<%=games[0].trailer%>">Trailer</a></li>
            </ul>
        </section>
        <section class="games-index">
            <h2 class="featured-games">  Featured Games </h2>
            <div>
                <ul>
                <% for(let i = 1; i<games.length; i++) { %>
                    <% const thisGame = games[i] %>
                    <li><a href="/<%=thisGame._id%>"> <%=thisGame.name%></a></li>
                    <li><%=thisGame.image%></li>
                    <li><%=thisGame.rating%></li>
                <%}%>
                </ul>
            </div>
        </section>
    </main>
    <%- include ("./ejs_partials/footer.ejs")%>
</body>
</html>